@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
	--gradient-color-1: #010400;
	--gradient-color-2: #010400;
	--gradient-color-3: #15011a;
	--gradient-color-4: #15011a;
}

@layer base {
	@font-face {
		font-family: 'Hubot Sans';
		src: local('Hubot Sans') local('hubot-sans') url('/fonts/Hubot-Sans.woff')
			url('/fonts/Hubot-Sans.woff2');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Mona Sans';
		src: local('Mona Sans') local('mona-sans') url('/fonts/Mona-Sans.woff')
			url('/fonts/Mona-Sans.woff2');
		font-weight: normal;
		font-display: swap;
	}
}
